<a href="https://colab.research.google.com/github/Momina-Hussnain/DataScience/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import numpy as np

In [17]:
import pandas as pd

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
df = pd.read_csv("/tested.csv")

In [21]:
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [22]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [23]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

In [24]:
df["Age"] = df["Age"].fillna(df["Age"].median())

In [25]:
df["Cabin"] = df["Cabin"].fillna(df["Cabin"].mode()[0])

In [26]:
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

In [27]:
df["Age"] = df["Age"].fillna(method="ffill")
df["Cabin"] = df["Cabin"].fillna(method="ffill")

/tmp/ipython-input-3648352763.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Age"] = df["Age"].fillna(method="ffill")
/tmp/ipython-input-3648352763.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Cabin"] = df["Cabin"].fillna(method="ffill")

In [28]:
df["Age"] = df["Age"].fillna(method="bfill")
df["Cabin"] = df["Cabin"].fillna(method="bfill")

/tmp/ipython-input-327168489.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Age"] = df["Age"].fillna(method="bfill")
/tmp/ipython-input-327168489.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Cabin"] = df["Cabin"].fillna(method="bfill")

In [29]:
df["Fare"] = pd.to_numeric(df["Fare"], errors="coerce")

In [30]:
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    0.363636    2.265550   29.599282    0.447368
std     120.810458    0.481622    0.841838   12.703770    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   23.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   35.750000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

In [31]:
df.columns = [
    col.strip().lower().replace(' ', '_')
    for col in df.columns
]

In [32]:
df.drop(columns=['passengerid', 'name', 'ticket', 'cabin'], inplace=True)

In [33]:
df['age'].fillna(df['age'].median(), inplace=True)
df['fare'].fillna(df['fare'].median(), inplace=True)
df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

/tmp/ipython-input-1528777115.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)
/tmp/ipython-input-1528777115.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fare'].fillna(df['fare'].median(), inplace=True)
/tmp/ipython-input-1528777115.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

In [34]:
df['sex'] = df['sex'].str.lower().str.strip()
df['sex'] = df['sex'].map({'male': 1, 'female': 0})

In [35]:
X = df.drop('survived', axis=1)
y = df['survived']

In [36]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.3,
    random_state=42
)

In [38]:
categorical_cols = ['embarked', 'pclass']

one = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

X_train_cat = one.fit_transform(X_train[categorical_cols])
X_test_cat = one.transform(X_test[categorical_cols])

In [39]:
encoded_cols = one.get_feature_names_out(categorical_cols)

In [40]:
X_train_cat = pd.DataFrame(
    X_train_cat,
    columns=encoded_cols,
    index=X_train.index
)

In [41]:
X_test_cat = pd.DataFrame(
    X_test_cat,
    columns=encoded_cols,
    index=X_test.index
)

In [42]:
X_train.drop(columns=categorical_cols, inplace=True)
X_test.drop(columns=categorical_cols, inplace=True)

In [43]:
X_train_final = pd.concat([X_train, X_train_cat], axis=1)
X_test_final = pd.concat([X_test, X_test_cat], axis=1)

In [44]:
print("Training shape:", X_train_final.shape)
print("Testing shape:", X_test_final.shape)
print(X_train_final.head())

Training shape: (292, 11)
Testing shape: (126, 11)
     sex   age  sibsp  parch      fare  embarked_C  embarked_Q  embarked_S  \
118    1  36.0      0      0   75.2417         1.0         0.0         0.0
271    1  27.0      0      0    7.7500         0.0         1.0         0.0
114    0  63.0      1      0  221.7792         0.0         0.0         1.0
311    1  22.0      0      0    7.2250         1.0         0.0         0.0
131    1  53.0      0      0   28.5000         1.0         0.0         0.0

     pclass_1  pclass_2  pclass_3
118       1.0       0.0       0.0
271       0.0       0.0       1.0
114       1.0       0.0       0.0
311       0.0       0.0       1.0
131       1.0       0.0       0.0